body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, .footer {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

h1, h2 {
    color: #f9faf8;
}


ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul, p, button {
    color: #e5e7eb;
    font-size: 18px;
}

.first_section {
    background-color: #1F2937;
    padding: 60px 200px;
    display: flex;
    gap: 80px;
}

h2 {
    font-size: 48px;
    margin: 0;
    font-weight: 800;
}

button {
    background-color: #3882f6;
    border-radius: 6px;
    padding: 8px 36px;
    border: none;
}

.city_image {
    width: 500px;
    height: auto;
}

.second_section p {
    color: grey;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 40px 260px;
    text-align: center;
}

.card {
    max-width: 200px;
}

h3 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
}

.card img {
    width: 200px;
    height: 300px;
}

.third_section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 140px 320px;
}

.third_section h4 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin: 0;
}

.third_section p {
    font-size: 18px;
    color: #1F2937;
    margin-left: auto;
    margin-right: 70px;
}

.fourth_section .box {
    background-color: #3882f6;
    margin: 100px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
}

.fourth_section button {
    border: solid;
    border-color: white;
    color: white;
    margin: 20px;
    flex-shrink: 0;
}

h5 {
    margin: 0;
    color: white;
    font-size: 20px;
}

.footer {
    text-align: center;
    padding: 40px 0 40px 0;
}

.footer p {
    margin: 0;
}